
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap'); /*malowana */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');/*nowoczesna */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');/*pisana */
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100&display=swap');/*nowoczesna-pisana*/
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* display na koncu 'o nas' */






